
.container_{
    background-image: url(../../../images/banner-bg.png);
    place-content: center;
    
    display:grid;
    grid-template-columns: 1fr 1fr;
    height: 50%;
    padding-bottom:5rem;
    background-repeat: no-repeat;
    background-position: center;
    /* margin-bottom:5rem ; */
    /* gap:1rem;
    margin-top: 10rem;
    background: rgb(71, 26, 26);
    width:25%;
    margin-left: 30rem;
    border-radius: 2rem;
    padding-top: 60px;
    padding-bottom: 60px; */
}
.element{
    padding-top:10px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    border-radius: 10rem;
    color:white;
}
.element input{
    border-radius: 0.5rem;
    padding: 0.5rem;
    border:none;
    background: transparent;
    border-bottom: 1px solid red;
    color: white;
}
::placeholder { /* Most modern browsers support this now. */
    color:    #909;
 }
.left_container{
    place-content: center;
    display:grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 150px;
    gap:1rem;
    margin-top: 10rem;
    background: transparent;
    width:55%;
    border-radius: 2rem;
    padding-top: 50px;
    padding-bottom: 60px;
    margin-left:15rem;
}

.left_container h5{
    color: rgb(45, 44, 46);
    font-size: 2rem;
}
.inner_container{
    place-items: center;
    margin-right: 10rem;
    color:white;
}
.right_container{
    place-content: center;
    display:grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 150px;
    gap:1rem;
    margin-top: 10rem;
    background: transparent;
    width:55%;
    border-radius: 2rem;
    padding-top: 50px;
    padding-bottom: 60px;
    margin-left: 10rem;
}
.button{
    padding: 10px;
    border-radius: 10px;
    display: flex;
    place-content: center;
    margin-left: 2rem;
    margin-top